{% extends "_template.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block content %}
  
    <div class="section">

        <h1 class="title">Connexion</h1>
        
        <form action="{{ path('security_login')}}" method="post">
            <div class="form-group field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input form-control" placeholder="Email ..." required name="_username" type="text">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="form-group field">
                <p class="control has-icons-left">
                    <input class="input form-control" placeholder="Mot de passe" required name="_password" type="password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>

            <button type="submit" class="btn btn-success">Connexion</button>
        </form>
    </div>

{% endblock %}