{% extends "_template.html.twig" %}

{% block title %}Nouveau produit{% endblock %}

{% block content %}
    <div class="section">
  
        <h1 class="title">Nouveau produit</h1>
        
        {% include 'produit/_produit_form.html.twig' %}

    </div>

{% endblock %}
