{% extends "_template.html.twig" %}

{% block title %}
    Produit {{ produit.nom }}
{% endblock %}

{% block content %}
    <div class="section">

        <h1 class="title">Produit {{ produit.nom }}</h1>

        {% include 'includes/flash.html.twig' %}
        
        {% include 'produit/_produit_form.html.twig' %}

    </div>

{% endblock %}