{# On indique de quel template on hérite.
   Le chemin est à indiquer depuis le répertoire racine des templates (templates/) #}

{% extends "base.html.twig" %}

{# On déclare les blocs dont on souhaite écraser le contenu.
   Les autres blocs garderont le contenu indiqué dans le template parent #}

{% block body %}
  
    <h1>Accueil</h1>
    <p>
        Nombre de produits {{ produit|length }}
    </p>
    
{% endblock %}

